  .word {
  	font-family: Verdana, Tahoma, Arial;
  	padding: 4px 4px 4px 4px;
  	letter-spacing: 3px;
  	text-decoration: none;
  	font-weight: normal;
  }
  .size9 {
  	color: #000;
  	font-size: 30px;
  }
  .size8 {
  	color: #111;
  	font-size: 28px;
  }
  .size7 {
  	color: #222;
  	font-size: 26px;
  }
  .size6 {
  	color: #333;
  	font-size: 24px;
  }
  .size5 {
  	color: #444;
  	font-size: 22px;
  }
  .size4 {
  	color: #555;
  	font-size: 20px;
  }
  .size3 {
  	color: #666;
  	font-size: 18px;
  }
  .size2 {
  	color: #777;
  	font-size: 16px;
  }
  .size1 {
  	color: #888;
  	font-size: 10px;
  }
