
  /************************************************************\
  *
  *	  wordCloud Copyright 2007 Derek Harvey
  *	  www.lotsofcode.com
  *
  *	  This file is part of wordCloud.
  *
  *	  wordCloud is free software; you can redistribute it and/or modify
  *	  it under the terms of the GNU General Public License as published by
  *	  the Free Software Foundation; either version 2 of the License, or
  *	  (at your option) any later version.
  *
  *	  wordCloud is distributed in the hope that it will be useful,
  *	  but WITHOUT ANY WARRANTY; without even the implied warranty of
  *	  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.	See the
  *	  GNU General Public License for more details.
  *
  *	  You should have received a copy of the GNU General Public License
  *	  along with wordCloud; if not, write to the Free Software
  *	  Foundation, Inc., 59 Tpxple Place, Suite 330, Boston, MA	02111-1307	USA
  *
  \************************************************************/

  .word {
  	font-family: Verdana, Tahoma, Arial;
  	padding: 4px 4px 4px 4px;
  	letter-spacing: 3px;
  	text-decoration: none;
  	font-weight: normal;
  }
  .size9 {
  	color: #000;
  	font-size: 30px;
  }
  .size8 {
  	color: #111;
  	font-size: 28px;
  }
  .size7 {
  	color: #222;
  	font-size: 26px;
  }
  .size6 {
  	color: #333;
  	font-size: 24px;
  }
  .size5 {
  	color: #444;
  	font-size: 22px;
  }
  .size4 {
  	color: #555;
  	font-size: 20px;
  }
  .size3 {
  	color: #666;
  	font-size: 18px;
  }
  .size2 {
  	color: #777;
  	font-size: 16px;
  }
  .size1 {
  	color: #888;
  	font-size: 10px;
  }